@use "../../General/" as g;
.skill-card-con {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.active {
    transform: scale(1.1);
  }
  .skill-name {
    position: relative;
    border-radius: 1.7rem; /*1*/
    border: 2px solid transparent;
    background: g.$borderGrad border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    h4 {
      font-size: 2.1rem;
      color: g.$fontColor;
      padding: 5rem;
      background-image: g.$bgGrad;
      border-radius: 1.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      &.active {
        @include g.animatedHoverGrad();
      }
    }
    .skill-svg {
      position: absolute;
      display: inline-block;
      border-radius: 0.8rem;
      border: 2px solid transparent;
      background: g.$borderGrad border-box;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      top: -25px;
      left: -25px;
      .svg {
        padding: 1rem;
        background-image: g.$bgGrad;
        display: inline-block;
        border-radius: 0.8rem;
        svg {
          font-size: 2.4rem;
        }
      }
    }
  }
}
@media (max-width: 48.43em) {
  .skill-card-con {
    .skill-name {
      h4 {
      }
      .skill-svg {
        top: -15px;
        left: -15px;
        .svg {
          padding: 1rem;
          background-image: g.$bgGrad;
          display: inline-block;
          border-radius: 0.8rem;
          svg {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}
