@use "../../General/" as g;
.skill-bar-con {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  .bar-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h4 {
      font-size: 2.4rem;
      color: g.$fontColor;
      font-weight: bold;
      padding: 1rem 0;
    }
  }
  .skill-bar {
    width: 100%;
    height: 1rem;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    background-color: g.$darkGray;
    span {
      height: 100%;
      display: block;
      width: 0;
      background-image: g.$priSecGrad;
      line-height: 30px;
      position: absolute;
      border-radius: 7px;
    }
  }
}
