@use "../../General/" as g;
.portfolio {
  position: relative;
  margin-bottom: 25.6rem;
  &::after {
    @include g.elipse(g.$secondary);
    left: -227px;
    top: -14px;
  }
  &::before {
    @include g.elipse(g.$primary);
    right: -227px;
    bottom: -180px;
  }
  .content-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    .header-container {
      display: flex;
      flex-direction: column;
      gap: 2.6rem;
      .heading {
        h2 {
          text-align: center;
          span {
            color: g.$primary;
          }
        }
      }
    }
  }
  .project-con {
    display: flex;
    flex-direction: column;
    gap: 8.6rem;
  }
}
