@use "../../General/" as g;
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  margin: 6.4rem 0;
  .slogan-con {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;

    .heading-con {
      font-size: 3.2rem;
      color: g.$fontColor;
    }
    .desc-con {
      p {
        line-height: 3.4rem;
        padding-right: 9.6rem;
      }
    }
  }
  .nav-con {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;

    .heading-con {
      font-size: 3.2rem;
      color: g.$fontColor;
    }
    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        li {
          font-size: 2rem;
          color: g.$lightGray;
          font-weight: 600;
        }
      }
    }
  }
}
.cp-rg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
  p {
    font-size: 1.2rem;
    color: g.$lightGray;
  }
}
hr {
  height: 1px;
  background-image: g.$priSecGrad;
  border: none;
}
//775px
@media (max-width: 39.06em) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 3.2rem;
    align-items: center;
    .slogan-con {
      padding: 0;
      width: 60%;
      align-items: center;

      .heading-con {
        font-size: 3.2rem;
        color: g.$fontColor;
      }
      .desc-con {
        margin-left: 2rem;
        p {
          width: fit-content;
          line-height: 3.4rem;
          padding: 0;
        }
      }
    }
  }
}
