@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: $bgColor;
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container,
section {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
p {
  font-size: 2rem;
  color: $lightGray;
  font-weight: 600;
}
h2 {
  font-size: 4.4rem;
  color: $fontColor;
  font-weight: 800;
}
