//Colors
$bgColor: #141a2a;
$primary: #1649ff;
$secondary: #e300cb;
$fontColor: #fafefa;
$lightGray: #ada9bb;
$darkGray: #484554;
//gradients
$priSecGrad: linear-gradient(130deg, $primary, $secondary);
