@use "..//General/" as g;
.button-con {
  button {
    cursor: pointer;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-family: inherit;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    &:hover {
      box-shadow: 0 0 10px g.$primary, 0 0 40px g.$primary;
      transition-delay: 1s;
    }
  }
  .primary {
    background-color: g.$primary;
    color: g.$fontColor;
  }
  .primary.disabled {
    background-color: g.$lightGray;
  }
  .secondary {
    background-color: g.$darkGray;
    color: g.$fontColor;
  }
}
