@use "../General/" as g;
.neonlight-con {
  height: 100%;
  width: 15%;
  .neon-light {
    display: flex;
    position: relative;
    &::after {
      display: inline-block;
      content: " ";
      height: 48.2rem;
      width: 1.6rem;
      border-radius: 0.9rem;
      background-color: g.$fontColor;
      box-shadow: inset 0 0 1rem g.$primary;
      z-index: 1;
      position: absolute;
      left: 50px;
    }
    &::before {
      content: " ";
      display: inline-block;
      height: 54.7rem;
      width: 11.1rem;
      background-color: g.$primary;
      filter: blur(7.2rem);
      z-index: -30;
      position: absolute;
    }
  }
}
