@use "../General/" as g;
.form {
  .pop-up {
    position: fixed;
    top: -100%;
    right: 15%;
    padding: 1rem;
    border-radius: 8px;
    @include g.glassEffect();
    overflow: hidden;
    transition: all ease-in-out 3s;
    p {
      position: relative;
      color: g.$fontColor;
    }
    span {
      background-color: g.$primary;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -100%;
      top: 0;
      border-radius: 8px;
      transition: ease-in left 2s;
    }
    .ani {
      left: 0 !important;
      transition-delay: 1s;
    }
  }
}
