@use "../General/" as g;
.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  align-items: center;
  position: relative;
  .image-con {
    width: 100%;
    position: relative;

    .tech-overlap {
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      top: -3%;
      left: 0;
      border-radius: 0.8rem;
      z-index: 10;
      transition: all ease-in-out 300ms;
      .tech-con {
        height: 100%;
        width: fit-content;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        column-gap: 1.6rem;
        row-gap: 1.6rem;
        flex-wrap: wrap;

        opacity: 0;
      }
    }

    img {
      width: 100%;
    }
  }
  .info-con {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .header-con {
      display: flex;
      width: fit-content;
      justify-content: space-between;

      .heading {
        display: flex;
        flex-direction: row;
        .button-anchor {
          position: relative;
          .tech-info-button {
            cursor: pointer;
            display: inline-block;
            border-radius: 0.8rem;
            border: 2px solid transparent;
            background: g.$borderGrad border-box;
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            position: absolute;
            left: 2rem;
            top: -1rem;
            z-index: 15;
            transition: all ease-in-out 500ms;
            .svg {
              padding: 0.5rem 1rem;
              background-image: g.$bgGrad;
              display: inline-block;
              border-radius: 0.8rem;
              svg {
                font-size: 3.5rem;
              }
            }
          }
        }
        h4 {
          color: g.$fontColor;
          font-size: 3.2rem;
        }
      }
    }
  }
  .desc-con {
    p {
      line-height: 3rem;
    }
  }
  .button-con {
    display: flex;
    gap: 2.4rem;
  }
}
@media (max-width: 43.8em) {
  .project-card {
    grid-template-columns: 1fr;
    padding: 7rem;
  }
}
