@use "../General/" as g;
.tech-element {
  height: fit-content;
  width: fit-content;
  .tech-info {
    display: inline-block;
    border-radius: 0.8rem;
    border: 0.2rem solid transparent;
    background: g.$borderGrad border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    h4 {
      padding: 1rem;
      background-image: g.$bgGrad;
      display: inline-block;
      border-radius: 0.8rem;
      font-size: 1.8rem;
      text-transform: capitalize;
      color: g.$fontColor;
    }
  }
}
