@use "../../General/" as g;
.messages-con {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem;
  width: 100%;
  .messages-con {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 1rem;
      border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: g.$primary;
      border-radius: 8px;
    }
  }
}
