@use "../General/" as g;
h2 {
  color: g.$fontColor;
  font-size: 4.6rem;
}

label {
  font-size: 2.1rem;
  color: g.$lightGray;
  font-weight: 500;
}
input,
textarea,
select {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: inset 0 0 10px g.$primary;

  border-radius: 8px;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: inherit;
  background-color: g.$fontColor;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: g.$darkGray;
}

.visible-pop-up {
  top: 5% !important;
  transition: all ease-in-out 1s;
}
.opacity-pop-up {
  opacity: 0;
}
