@use "../../General/" as g;
.home {
  margin-top: 9.6rem;
  margin-bottom: 25.6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;

  .content-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    .neon-light-con {
      align-self: center;
    }
    .slogans-container {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
      .slogans {
        .big-slogans {
          position: relative;
          h1 {
            color: g.$fontColor;
            font-size: 8.6rem;
            font-weight: 800;
          }
        }
      }
      .sub-heading {
        h4 {
          font-size: 1.6rem;
          color: g.$lightGray;
        }
      }
      .button-container {
        display: flex;
        flex-direction: row;
        gap: 2.3rem;
      }
    }
  }
  .image-con {
    img {
      width: 100%;
    }
    &::after {
      @include g.elipse(g.$primary);
      position: absolute;
      right: -280px;
      top: -280px;
    }
  }
}
//1177px
@media (max-width: 73.56em) {
  .home {
    .content-con {
      .slogans-container {
        .slogans {
          .big-slogans {
            h1 {
              font-size: 7.5rem;
            }
          }
        }
      }
    }
  }
}
//1124px
@media (max-width: 70.25em) {
  html {
    font-size: 56.25% !important;
  }
  .home {
    .content-con {
      .neonlight-con {
        .neon-light {
          &::after {
            height: 41.2rem;
          }
          &::before {
            height: 47.7rem;
          }
        }
      }
    }
  }
}
//900px
@media (max-width: 56.25em) {
  .home {
    .content-con {
      .neonlight-con {
        .neon-light {
          &::after {
            height: 35.2rem;
          }
          &::before {
            height: 41.7rem;
          }
        }
      }
      .slogans-container {
        .slogans {
          .big-slogans {
            h1 {
              font-size: 6.5rem;
            }
          }
        }
      }
    }
  }
}
//775px
@media (max-width: 48.43em) {
  html {
    font-size: 50% !important;
  }
  .home {
    .content-con {
      .neonlight-con {
        .neon-light {
          &::after {
            height: 32.2rem;
          }
          &::before {
            height: 38.7rem;
          }
        }
      }
      .slogans-container {
        gap: 3.2rem;
      }
    }
  }
}
//700px
@media (max-width: 43.75em) {
  .home {
    grid-template-columns: 1fr;
    .content-con {
      .neonlight-con {
        .neon-light {
          &::after {
            height: 35.2rem;
            top: -5px;
          }
          &::before {
            height: 41.7rem;
          }
        }
      }
    }
    .image-con {
      display: none;
    }
  }
}
//490
@media (max-width: 30.62em) {
  html {
    font-size: 43.75% !important;
  }
  .neonlight-con {
    width: 10% !important;
    .neon-light {
      &::after {
        left: 10px !important;
      }
    }
  }
}
//410
@media (max-width: 25.62em) {
  html {
    font-size: 37.5% !important;
  }
}
//320{
@media (max-width: 21.25em) {
  html {
    font-size: 31.25% !important;
  }
}
