@use "../../General/" as g;
.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  .all-p-heading {
    display: flex;
    width: 100%;
    padding-bottom: 4rem;
    h2 {
      font-size: 5.8rem;
      padding-left: 2rem;
    }
    span {
      font-size: 5.8rem;
      color: g.$primary;
      font-weight: 800;
    }
    .figma-span {
      padding-left: 2rem;
      font-size: 5.8rem;
      color: g.$primary;
      font-weight: 800;
    }
    img {
      height: 7rem;
    }
  }
  .button-choice-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    .button {
      display: inline-block;
      border-radius: 2rem;
      border: 0.2rem solid transparent;
      background: g.$borderGrad border-box;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      &.active {
        transform: scale(1.1);
      }
      svg {
        font-size: 6.2rem;
        color: aliceblue;
        padding: 1rem;
        background-image: g.$bgGrad;
        display: inline-block;
        border-radius: 2rem;
        text-transform: capitalize;
        color: g.$fontColor;
      }
    }
  }
  .heading-con {
    margin-bottom: 3.2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    align-items: center;

    .button {
      display: inline-block;
      border-radius: 2rem;
      border: 0.2rem solid transparent;
      background: g.$borderGrad border-box;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      transition: all 200ms ease-in-out;
      cursor: pointer;
      &.active {
        transform: scale(1.1);
      }
      svg {
        font-size: 6.2rem;
        color: aliceblue;
        padding: 1rem;
        background-image: g.$bgGrad;
        display: inline-block;
        border-radius: 2rem;
        text-transform: capitalize;
        color: g.$fontColor;
      }
    }
  }
  .project-con {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
  }
  .button-con {
    .all-p {
      position: fixed;
      bottom: 10rem;
      right: 10rem;
      border-radius: 2rem;
      transform: scale(0);
      transition: 200ms ease-in-out;
      padding: 1rem !important;
      z-index: 1000;
      svg {
        font-size: 4.2rem;
      }
    }
    .show {
      transform: scale(1.1);
    }
  }
}

.ani-grad {
  background: linear-gradient(
    132deg,
    hsla(227, 100%, 54%, 0.25),
    hsla(306, 100%, 45%, 0.25),
    #141a2a,
    #141a2a,
    hsla(227, 100%, 54%, 0.25),
    hsla(306, 100%, 45%, 0.25),
    #141a2a,
    #141a2a
  );
  background-size: 800% 800%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

// @media;
