.about {
  margin: 9.6rem 0;
  .content-con {
    display: flex;
    gap: 6.4rem;
    .info-con {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      justify-content: center;
      .desc {
        p {
          line-height: 30px;
        }
      }
    }
  }
}
