.about {
  margin-bottom: 12.8rem;
  .content-con {
    display: flex;
    gap: 6.4rem;
    .info-con {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      justify-content: center;
      position: relative;
      &::after {
        content: " ";
        display: inline-block;
        height: 50rem;
        width: 50rem;
        background-color: $secondary;
        filter: blur(110px);
        z-index: -30;
        opacity: 60%;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        right: -250px;
      }
      .desc {
        &::after {
          content: " ";
          display: inline-block;
          height: 50rem;
          width: 50rem;
          background-color: $primary;
          filter: blur(110px);
          z-index: -30;
          opacity: 60%;
          border-radius: 50%;
          position: absolute;
          bottom: -171px;
          right: -200px;
        }
        p {
          line-height: 30px;
        }
      }
    }
  }
}
