.portfolio {
  position: relative;
  margin: 12.6rem;
  &::after {
    content: " ";
    display: inline-block;
    height: 50rem;
    width: 50rem;
    background-color: $secondary;
    filter: blur(210px);
    z-index: -30;
    opacity: 60%;
    border-radius: 50%;
    position: absolute;
    left: -227px;
    top: -14px;
  }
  &::before {
    content: " ";
    display: inline-block;
    height: 50rem;
    width: 50rem;
    background-color: $primary;
    filter: blur(210px);
    z-index: -30;
    opacity: 60%;
    border-radius: 50%;
    position: absolute;
    right: -227px;
    bottom: -180px;
  }
  .content-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    .header-container {
      display: flex;
      flex-direction: column;
      gap: 2.6rem;
      .heading {
        h2 {
          text-align: center;
          span {
            color: $primary;
          }
        }
      }
    }
  }
  .project-con {
    display: flex;
    flex-direction: column;
    gap: 8.6rem;
  }
}
