nav {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  .logo-container {
    display: flex;
    flex-direction: row;
    .logo-text {
      color: $fontColor;
      font-size: 3.2rem;
      display: flex;
      align-items: center;
    }
    .logo-img {
      height: 100%;
    }
  }
  .nav-links {
    color: $fontColor;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      gap: 4.2rem;
      justify-content: center;
    }
  }
  .nav-button-container {
    display: flex;
    align-items: center;
  }
}
