.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  align-items: center;

  .info-con {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .header-con {
      display: flex;
      width: 100%;
      justify-content: space-between;
      h4 {
        color: $fontColor;
        font-size: 3.2rem;
      }
      .tech-info {
        display: inline-block;
        border-radius: 8px;
        border: 2px solid transparent;
        background: $borderGrad border-box;
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        top: -25px;
        left: -25px;
        .svg {
          padding: 0.5rem 1rem;
          background-image: $bgGrad;
          display: inline-block;
          border-radius: 8px;
        }
      }
    }
  }
  .desc-con {
    p {
      line-height: 3rem;
    }
  }
  .button-con {
    display: flex;
    gap: 2.4rem;
  }
}
