@use "../../General/" as g;
.form-con {
  .form {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    position: relative;
    &::after {
      @include g.elipse(g.$secondary);
      bottom: -100px;
      right: -250px;
    }
    .form-input {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.6rem;
        color: g.$lightGray;
        font-weight: 600;
      }
      input[type="text"],
      input[type="email"] {
        height: 3.6rem;
        border-radius: 8px;
        box-shadow: inset 0 0 10px g.$primary;
        font-size: 1.6rem;
        padding-left: 1rem;
        font-family: inherit;
        background-color: g.$fontColor;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
      }

      textarea {
        border-radius: 8px;
        box-shadow: inset 0 0 10px g.$primary;
        padding: 1rem;
        font-size: 1.6rem;
        background-color: g.$fontColor;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
      }
    }
  }
}
