@use "../../General/" as g;
.info-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  .info-img {
    img {
      height: 300px;
      border-radius: 20%;
    }
  }
  .info-msg {
    p {
      font-size: 2.4rem;
      font-weight: 600;
      color: g.$lightGray;
      text-align: center;
    }
  }
}
